* {
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none; }

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #318690;
  background-color: #f1fcf6;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  -webkit-tap-highlight-color: transparent; }

nav {
  width: 100%;
  background-color: #318690;
  text-align: center;
  margin: 0; }
  nav ul {
    margin-top: 0;
    list-style: none;
    text-align: center;
    padding-left: 0px; }
  nav li {
    display: inline-block;
    padding: 1em; }
    @media screen and (max-width: 350px) {
      nav li {
        padding: 1em 0.5em; } }
  nav a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold; }

header {
  text-align: center; }

h1 {
  font-size: 1.5em; }

canvas#main-canvas, div#overlay {
  width: 90%;
  border: 1px solid gray;
  margin-left: 5%; }

canvas {
  background-color: black; }

div#overlay {
  position: absolute;
  z-index: 1;
  top: 0;
  border: none; }

div#aboutToStartDiv {
  width: 30em;
  margin: 10em auto;
  display: none;
  text-align: center; }

div#newHighScoreDiv, div#lastScore {
  display: none; }

div#startDiv {
  width: 6em;
  margin: 50px auto 0; }
  div#startDiv input {
    margin-bottom: 10px; }
  div#startDiv button {
    margin-top: 10px; }
  div#startDiv label {
    font-weight: bold; }

div#countDiv {
  width: 5em;
  margin: 0 auto;
  display: none;
  text-align: center;
  border: 3px solid;
  background-color: rgba(16, 84, 94, 0.5); }

div#scoreBoard {
  position: absolute;
  left: 50%;
  top: 30px;
  display: none;
  z-index: 1; }
  div#scoreBoard div {
    left: -50%;
    padding: 10px;
    background-color: #f1fcf6;
    border: 3px solid #24626a;
    position: relative; }
  div#scoreBoard table {
    margin: 0 auto; }
  div#scoreBoard td, div#scoreBoard th {
    padding: 5px 20px 5px 0px;
    text-align: left; }
  div#scoreBoard .numberTD {
    text-align: right; }
  div#scoreBoard button {
    margin-left: 8em;
    margin-top: 15px; }

footer {
  text-align: center;
  background-color: #318690;
  color: white;
  overflow: auto; }
  footer .icons {
    list-style: none;
    margin-top: 1em; }
    footer .icons li {
      display: inline-block;
      padding: 1em; }
  footer p {
    font-size: smaller;
    margin-bottom: 2em; }
